<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tech Fashion</title>

    {% include 'meta-data.html' %}
    <!-- Trang đăng ký tài khoản cho User -->
</head>
<body>
    {% include 'homepage/navigation.html' %}
    <div class="bg-dark pt-5">
        <h4 class="text-center text-light font-text">Đăng ký để trải nghiệm hệ thống khách hàng</h4>
        <h3 class="text-center text-light font-logo"><i class="fas fa-shoe-prints text-light mr-2"></i>Tech Fashion</h3>
        <br>
        <div class="container bg-secondary w-50 px-4 py-4 border border-dark rounded">
            <form method = 'POST'>
                <div class="form-row">
                    <div class="form-group col-md-7">
                        <label for="inputFullname" class="text-light font-text font-weight-bold">Tên đầy đủ</label>
                        <input type="text" name = 'fullname' class="form-control" id="inputFullname" placeholder="Tên đầy đủ" required>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inputPhone" class="text-light font-text font-weight-bold">Số điện thoại</label>
                        <input type="text" name = 'phone' class="form-control" id="inputPhone" placeholder="Số điện thoại" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail" class="text-light font-text font-weight-bold">Email</label>
                        <input type="email" name = 'email' class="form-control" id="inputEmail" placeholder="Email" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputAddress" class="text-light font-text font-weight-bold">Địa chỉ</label>
                        <input type="text" name = 'address' class="form-control" id="inputAddress" placeholder="Địa chỉ" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-7">
                        <label for="inputUsername" class="text-light font-text font-weight-bold">Tên tài khoản</label>
                        <input type="text" name = 'username' class="form-control" id="inputUsername" placeholder="Tên tài khoản" required>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inputPassword" class="text-light font-text font-weight-bold">Mật khẩu</label>
                        <input type="password" name = 'password' class="form-control" id="inputPassword" placeholder="Mật khẩu" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputBalance" class="text-light font-text font-weight-bold">Nạp tiền</label>
                        <input type="number" name = 'balance' class="form-control" id="inputBalance" placeholder="Số tiền" required>
                    </div>
                </div>

                <div class="form-group mt-4 d-flex align-items-center">
                    <div class="col-sm-2.5">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                            Tạo tài khoản
                        </button>
                    </div>
                            
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Xác nhận đăng ký tài khoản</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    Nếu bạn tạo tài khoản, đồng nghĩa với việc bạn đã đọc điều khoản của chúng tôi và đồng ý
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
                                    <button type="submit" class="btn btn-dark">Tạo tài khoản</button>
                                </div>
                            </div>
                            </div>
                        </div>

                    <!-- Back -->
                    <div class="col-sm-2">
                        <a href="{{ url_for('login_user') }}" class="font-text text-light">Trở về</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="bg-dark text-center text-light font-text" style="height: 50px; padding-top: 15px;">Sản phẩm Project 3</div>
</body>
</html>