<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tech Fashion</title>


    {% include 'meta-data.html' %}
    <!-- Trang hiển trị khi đăng ký lỗi -->
</head>
<body>
    {% include 'homepage/navigation.html' %}
    {% if template == 1 %}
    <div class="bg-dark" style="height: 700px; padding-top: 100px">
        <h1 class="font-text text-light text-center">Tên tài khoản đã tồn tại</h1>
        <h1 class="font-text text-light text-center">Hãy dùng tên khác</h1>
        <div class="d-flex justify-content-center mt-5">
            <a href="{{ url_for('signup_user') }}" class="btn btn-secondary btn-lg font-text" role="button">Trở về</a>
        </div>
    </div>  
    {% elif template == 0 %}
    <div class="bg-dark" style="height: 700px; padding-top: 100px">
        <h1 class="font-text text-light text-center">Tên tài khoản đã tồn tại</h1>
        <h1 class="font-text text-light text-center">Hãy dùng tên khác</h1>
        <div class="d-flex justify-content-center mt-5">
            <a href="{{ url_for('signup_shipper') }}" class="btn btn-secondary btn-lg font-text" role="button">Trở về</a>
        </div>
    </div>  
    {% endif %}
    <div class="bg-dark text-center text-light font-text" style="height: 50px">Sản phẩm Project 3</div>
</body>
</html>