<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tech Fashion</title>

    {% include 'meta-data.html' %}
    <!-- Hiển thị lịch sử mua hàng của User -->
</head>
<body>
    {% include 'homepage/navigation.html' %}
    {% if template == 1 %}
    <div class = "bg-jumbotron d-flex flex-column justify-content-center" style="padding-top: 100px; padding-bottom: 30px; padding-left: 100px; padding-right: 100px">
        {% for order in all_order %}
            <div class="w-50 container border border-secondary rounded mb-5 py-5">
                <div class="d-flex justify-content-center">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active font-text" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Đơn ngày {{ order.order_time.day }}/{{ order.order_time.month }}/{{ order.order_time.year }}</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="d-flex justify-content-center pt-3">
                            <h2 class="font-text font-weight-bold">Thông tin sản phẩm</h2>
                        </div>
                        <div class = "bg-jumbotron d-flex flex-wrap justify-content-around">
                            {% for product in order.product_id %}
                                <div class="bg-dark card text-light my-3" style="height: 440px; width: 15rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
                                    <img class="card-img-top border border-secondary" style="height: 230px" src="{{ product.image }}" alt="Card image cap">
                                    <div class="card-body bg-jumbotron border border-secondary">
                                        <h5 class="card-title font-text text-dark" style="font-size: 90%">{{ product.name }}</h5>
                                        <P class="card-text font-text text-dark" style="font-size: 70%">Loại: {{ product.product_type }}</P>
                                        <p class="card-text font-text text-dark" style="font-size: 70%">Thương hiệu: {{ product.place }}</p>
                                        <p class="card-text font-text text-dark" style="font-size: 70%">Giá: {{ product.price }}$</p>
                                        <div class="d-flex flex-wrap justify-content-around">
                                            <a href="{{ url_for('detail', product_id=product.id) }}" class="btn btn-sm btn-dark font-text">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <hr class="my-4">
                        <div>
                            <div class="d-flex justify-content-center py-5">
                                <h2 class="font-text font-weight-bold">Thông tin đơn hàng</h2>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div>
                                    <p class="font-text">Tổng sản phẩm: {{ order.order_fee }}$</p>
                                    <p class="font-text">Chi phí vận chuyển: {{ order.ship_fee }}$</p>
                                    <p class="font-text">Tổng đơn hàng: {{ order.order_fee + order.ship_fee }}$</p>
                                    <p class="font-text">Địa chỉ nhận hàng: {{ order.address }}</p>
                                    <p class="font-text">Thời gian yêu cầu: {{ order.request_time if order.request_time else 'Giao hàng bất cứ lúc nào'}}</p>
                                </div>
                            </div>
                        </div>
                        {% for shipper in order.shipper_id %}
                            <hr class="my-4">
                            <div>
                                <div class="d-flex justify-content-center py-3">
                                    <h2 class="font-text font-weight-bold">Thông tin về Shipper</h2>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div>
                                        <p class="font-text">Tên: {{ shipper.fullname }} </p>
                                        <p class="font-text">Số điện thoại: {{ shipper.phone }} </p>
                                        <p class="font-text">Email: {{ shipper.email }} </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="d-flex justify-content-center py-3">
            <a href="{{ url_for('user') }}" class="btn btn-primary btn-lg font-text" role="button">Trở về</a>
        </div>
    </div>
    {% elif template == 0 %}
        <div class="bg-dark" style="height: 700px; padding-top: 100px">
            <h1 class="font-text text-light text-center">Bạn chưa mua sản phẩm từ Tech Fashion</h1>
            <h1 class="font-text text-light text-center">Hãy quay lại chọn sản phẩm nhé</h1>
            <div class="d-flex justify-content-center" style="margin-top: 100px">
                <a href="{{ url_for('user') }}" class="btn btn-primary btn-lg font-text" role="button">Trở về</a>
            </div>
        </div>
    {% endif %}
</body>
</html>